<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script> 
    <title>Document</title>
</head>
<body>  
    <div id="app">
        <h1 v-if="param">Vue восхитителен!</h1>
        <h1 v-else>О, нет 😢</h1>

        <h1 v-show="ok">Всегда не виден</h1>

        <div v-if="type === 'A'">
            A
          </div>
          <div v-else-if="type === 'B'">
            B
          </div>
          <div v-else-if="type === 'C'">
            C
          </div>
          <div v-else>
            Точно не A, B или C
          </div>
    </div>
    <div id="app2">
        <ul id="array-rendering">
            <li v-for="item in items">
              {{ item.message }}
            </li>
          </ul>

          <ul id="array-with-index">
            <li v-for="(item, index) in items">
              {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
          </ul>
    </div>

    <div id="app3">
        <ul id="v-for-object" class="demo">
            <li v-for="value in myObject">
              {{ value }}
            </li>
          </ul>
    </div>

    <div id="app4">
        <ul id="v-for-object" class="demo">
            <li v-for="value in items">
              {{ value.message }} - {{ value.id }}
            </li>
          </ul>
    </div>
   
   <script src="js/main.js"></script>
</body>
</html>